body {
  background-image: url('img5.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#btn {
  font-size: 40px;
  padding: 30px;
  font-family: 'Times New Roman', Times, serif;
  border: 3px solid;
  border-radius: 25px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#btn:hover {
  transform: translateY(-9px);
  box-shadow: 0 8px 15px rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

#welcomeTag {
  display: flex;
  justify-content: center;

}

#enterTag {
  color: white;
  text-align: center;
  padding: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.auto {
  font-size: 30px;
  font-family: "Footlight MT";
  margin-bottom: 10px;
  color: aliceblue;
}

.card1 {
  margin-top: 15vh;
  padding: 30px 0;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
}

/* Animations */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fadeIn {
  animation: fadeIn 2s ease-in-out forwards;
}

@keyframes slideInLeft {
  from { transform: translateX(-500px); }
  to { transform: translateX(0); }
}

.slideInLeft {
  animation: slideInLeft 2s ease-in-out forwards, fadeIn 2s ease-in-out forwards;
}

@keyframes slideInRight {
  from { transform: translateX(500px); }
  to { transform: translateX(0); }
}

.slideInRight {
  animation: slideInRight 2s ease-in-out forwards, fadeIn 2s ease-in-out forwards;
}
